cffi==1.12.2
blinker==1.4
redis==3.2.1
BeautifulSoup==3.2.1
ipython==7.4.0
Numeric==24.2
Parser==0.1
beautifulsoup4==4.7.1
cElementTree==1.0.2-20050302
coverage==4.5.3
docutils==0.14
dparse==0.4.1
elementtree==1.2.6-20050316
fixtures==3.0.0
funcsigs==1.0.2
genapi==0.0.8
graphviz==0.10.1
greenlet==0.4.15
libmc==1.2.0
python_memcached==1.59
mtrand==0.1
nose==1.3.7
numarray==1.5.1
pickle5==0.0.6
pretty==0.1
Pygments==2.3.1
pylibmc==1.6.0
pytest==4.3.1
pythran==0.9.1.post0
pytz==2018.9
recursive_monkey_patch==0.4.0
reno==2.11.2
runtests==0.0.27
scipy==1.2.1
Sphinx==1.8.5
testrepository==0.0.20
testresources==2.0.1
testscenarios==0.5.0
testtools==2.3.0
unittest2==1.1.0
uwsgi==2.0.18
watchdog==0.9.0
